@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-family: 'Poppins', 'Courier New', Courier, monospace;
}

@media screen and (max-width: 768px) {
  .home-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url(img/19366.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .navbar {
    display: none;
  }

  .main-title {
    margin-top: 30%;
    width: 98%;
    margin-left: 1%;
  }

  .main-title h1 {
    font-size: 7.5vw;
    background-image: url(img/135234-orange-backgrounds-2560x1600-for-desktop.jpg);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 900;
  }

  .main-title h2 {
      font-size: 5vw;
      color: orangered;
      font-weight: 300;
  }

  .description {
      margin-left: 1%;
      width: 97%;
      margin-top: 15%;
    }

  .description p {
      font-size: 5vw;
      color: gray;
  }

  .date-time {
      margin-top: 5%;
      margin-left: 2%;
  }

  .date-time h2 {
      color: gray;
      font-size: 9vw;
  }

  .date-time h3 {
      color: gray;
      font-size: 4vw;
  }

  .startup-program {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url(img/matte-black-wallpaper-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .startup-program h2 {
      color: white;
      margin-left: 20%;
      margin-top: 3%;
      font-size: 7vw;
      font-weight: 300;
   }

  .startup-program ul {
    margin-top: 10%;
   }

  .startup-program li {
    color: transparent;
    border: 1px solid transparent;
    width: 95%;
    height: 100px;
    margin-left: 2%;
    background: rgba(223, 222, 222, 0.15);
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
  }

  .startup-program li img {
    width: 50px;
    height: 50px;
    margin-left: 2%;
  }

  .startup-program li h3 {
    font-size: 3.5vw;
    font-weight: 600;
    text-align: left;
    color: orangered;
  }

  .startup-program p {
    color: white;
    font-size: 3vw;
    font-weight: 300;
    letter-spacing: 1px;
    width: 55%;
    text-align: left;
  }

  .apply-btn {
    width: 60%;
    height: 75px;
    margin-left: 20%;
    background-color: orangered;
    color: white;
    margin-top: 5%;
  }

  .speakers {
    background-image: url(img/soft-white-backgrounds-wallpapers-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 3%;
    width: 100%; 
  }

  .speakers-title {
      margin-left: 18%;
      font-weight: 200;
      font-size: 7vw;
      font-weight: 300;
      color: gray;
  }
}